.user_profile {
  display: flex;
  flex-flow: column;
  align-items: center;

    &-information {
      display: flex;
      flex-flow: column;
      &-picture {
        height: 200px;
        align-self: center;
    }
  }
}