.cards {
  width: 90vw;

  &-container {
    display: flex;
    flex-flow: row wrap;
    gap: 2rem;
    justify-content: center;
  }

  &-title {
    text-align: center;
    margin-top: 4rem;
    font-size: 2rem;
    line-height: 3rem;
    padding-bottom: 2rem;
  }
}