@use 'src/styles/vars';

.signup {
  display: flex;
  flex-flow: column;
  align-items: center;

  &-title {
    text-align: center;
  }

  &-form_container {
    margin: 1rem 0;
  }

  &-form {
    display: flex;
    flex-flow: column;
    justify-content: center;

    & div {
      margin: 0.5rem 0;
    }

    &-button {
      background-color: vars.$secondary-color;
      border-radius: 10px;
      padding: 0.5rem;
      margin: 1rem 0;
      font-size: 1.2rem;

      &:hover {
        background-color: vars.$highlight-color;
      }
    }

    &-button {
      align-self: center;
    }
  }
}

.signup-success-connection {
  background-color: vars.$secondary-color;
  border-radius: 10px;
  padding: 0.5rem;
  margin: 1rem 0;
  font-size: 1.2rem;

  &:hover {
    background-color: vars.$highlight-color;
  }
}