.addSpot {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;

    &-form {
        width: 30vw;
    }

    &-map {
        width: 30vw;
        height: 400px;
        z-index: 0;
    }
}
