@use 'src/styles/vars';

.active {
  border-bottom: 3px solid vars.$highlight-color;
  filter:
  invert(0.5)
  sepia(1)
  hue-rotate(10deg)
  saturate(10)
  brightness(1.2)
}

.bs.navbar-button {
  @media screen and (max-width: 1024px) {
    display: none !important;
  }
}

.ss.navbar-button {
  @media screen and (min-width: 1024px) {
    display: none !important;
  }
}

.bs.navbar-logo {
  @media screen and (max-width: 768px) {
    display: none !important;
  }
}

.navbar-logo.ss {
  @media screen and (min-width: 768px) {
    display: none !important;
  }
  @media screen and (max-width: 768px) {
    height: 50%;
    margin-left: 1rem;
    align-self: center;
  }
}

.navbar {
  height: 15vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: vars.$primary-color;
  background: linear-gradient(180deg, vars.$primary-color 70%, vars.$main-color 100%);
  position: sticky;
  top: 0;
  z-index: 1;

  &-container {
    height: 100%;
  }

  &-left {
    margin-left: 1rem;
    display: flex;
    align-items: center;
    flex: 1;
    @media screen and (max-width: 1024px) {
      margin-left: 0;
    }
  }

  &-logo {
    height: 100%;

    &:hover {
      filter: drop-shadow(5px 5px 5px darken(vars.$secondary-color, 20%));
    }

    &-image {
      height: 100%;
    }
  }

  &-middle {
    display: flex;
    align-items: center;
    justify-content: center;

    &-button {
      background-color: vars.$secondary-color;
      padding: 1rem;
      border-radius: 10px;

      &:hover {
        background-color: vars.$highlight-color;
      }
  
      &-map {
        font-size: 2rem;
        font-family: 'Fraiche';
      }
    }
  }

  &-right {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;

    @media screen and (max-width: 1024px) {
      justify-content: flex-end;
      margin-right: 1rem;
    }
    @media screen and (max-width: 768px) {
      justify-content: flex-end;
      margin-right: 0;
    }
  }

  &-button {
    margin-right: 1rem;
    display: flex;
    flex-flow: column;

    & p,
    & img {
      margin: 0;
      align-self: center;
    }

    &:hover {
      filter:
      invert(0.5)
      sepia(1)
      hue-rotate(10deg)
      saturate(10)
      brightness(1.2)
    }
  }
}

