@use 'src/styles/vars';

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: vars.$primary-color;
  background: linear-gradient(180deg, vars.$primary-color 70%, vars.$main-color 100%); 

  &-left {
    margin-left: 1rem;
    height: 100px;
    aspect-ratio: 16/9;
  }

  &-logo {
    &:hover {
      // translate: -2px -2px;
      filter: drop-shadow(5px 5px 5px darken(vars.$secondary-color, 20%));
    }
  }

  &-middle {
    display: flex;
    align-items: center;

    &-button {
      background-color: vars.$secondary-color;
      margin: 0 1rem;
      padding: 1rem;
      border-radius: 10%;

      &:hover {
        background-color: vars.$highlight-color;
        translate: -2px -2px;
        filter: drop-shadow(5px 5px 5px darken(vars.$secondary-color, 20%));
      }
  
      &-map {
        font-size: 2rem;
      }
    }
  }

  &-button,
  &-darkmode_button {
    margin-right: 1rem;

    &:hover {
      // translate: -2px -2px;
      filter:
      invert(0.5)
      sepia(1)
      hue-rotate(10deg)
      saturate(10)
      brightness(1.2)
      drop-shadow(5px 5px 5px vars.$stroke-color);
    }
  }

  &-darkmode_button {
    margin-left: 10rem; // temp
  }
}