@use 'src/styles/vars';

.secu {
    text-align: center;

    &-h2 {
        background-color: vars.$primary-color;
        border-radius: 5px;
        padding: 10px;
        font-weight: bold;
        text-align: center;
        margin-bottom: 10px;
      }
      &-img {
        width: 100%;
        max-width: 15rem;
        height: auto;
        border-radius: 10px;
      }
      
      &-row {
        display: flex;
        justify-content: space-between;
        padding: 10px 0;
        margin: 10px;
      }

      &-column {
        padding-right: 10px;
      }

      &-element {
        margin-bottom: 2rem;
        background-color: rgba(0, 0, 0, 0.03);
        border-radius: 5px;
      }
      
      &-content {
        display: flex;
        align-items: center;
        gap: 10px;
        padding : 2rem;
        font-size: 1.2rem;
      }
      
      
  }

  


  
 


