@use 'src/styles/vars';

.banner {
  display: flex;
  justify-content: space-between;
  width: 90vw;

  @media screen and (max-width: 1024px) {
    flex-flow: column;
  }

  &-welcome {
    max-width: 35%;
    margin-right: 2rem;

    @media screen and (max-width: 1024px) {
      max-width: 90%;
      align-self: center;
      margin-right: 0;
    }

    & h2 {
      @media screen and (max-width: 1024px) {
        text-align: center;
      }
    }
  }
    
  &-picture {
    max-width: 60vw;
    aspect-ratio: 16/9;
    overflow: hidden;
    background-color: vars.$stroke-color;

    @media screen and (max-width: 1024px) {
      max-width: 90%;
      align-self: center;
    }
    @media screen and (max-width: 600px) {
      display: none;
    }
  }
};
