@use 'src/styles/vars';

.spot {
display: flex;
    &-top {
        width: 50%;
        &-banner {
            margin-top: 2rem;
            width: 50rem;
            aspect-ratio: 16/8;
        }
        
    }

    &-right {
        display: flex;
        flex-direction: column;
        &-comments {

        }
    }
}

.signup-form-button {
    margin-left: 2rem;
}

.deleteButton {
    border: solid 0.1em rgb(0, 0, 0);
    border-radius: 10px;
    padding: 0.5em;
    margin-left: 2em;
}

.comment-align {
    display: flex;
    margin-left: 2em;
}